@model IEnumerable<HRTracker.Models.Department>

@{
    ViewData["Title"] = "Departments";
}

<h1>Departments</h1>

<p>
    <create-button href="@Url.Action("Create","Departments")" />
</p>

<table class="table">
    <thead>
        <tr>
            <th>Department Id</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.DepartmentId</td>
            <td>@item.Name</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DepartmentId" class="text-primary">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DepartmentId" class="text-primary">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DepartmentId" class="text-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
